<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>323341392-cuuivjghvtrdue3vttr8nirum6evn5kp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.323341392-cuuivjghvtrdue3vttr8nirum6evn5kp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>323341392-sugof2cbhfkraho18g2jp9rlk0bt280f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB_khQsm7RHTUhIaDP6hPUWQrc6BF2agiM</string>
	<key>GCM_SENDER_ID</key>
	<string>323341392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.distivity.distivityCtiat</string>
	<key>PROJECT_ID</key>
	<string>distivity</string>
	<key>STORAGE_BUCKET</key>
	<string>distivity.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:323341392:ios:77fcc59714ec818d</string>
	<key>DATABASE_URL</key>
	<string>https://distivity.firebaseio.com</string>
</dict>
</plist>